.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  opacity: 0.2;
  min-height: 360px;
  object-fit: cover;
}

.carousel-button {
  margin-top: 60px !important;
}

.carousel-button-container {
  position: absolute;
}

.duvidas, .duvidas > a:hover, .duvidas > a:visited {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.duvidas > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
